<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div id="progress-charity" data-role="view" data-layout="default"
        data-title="Charity">
        <ul data-role="listview" data-style="inset">
            <li>
                <label>
                    <input type="checkbox" />
                    Zakaat
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" />
                    Sadaqat-ul-Fitr
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" />
                    Fidya
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" />
                    Kaffarah
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" />
                    Qurbani
                </label>
            </li>
        </ul>
    </div>
</body>
</html>
