<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div id="progress-fasting" data-role="view" data-layout="default"
        data-title="Fasting">
        <ul data-role="listview" data-style="inset">
            <li>
                <label>
                    <input type="checkbox" />
                    Mondays and Thursdays
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" />
                    13th, 14th, and 15th of every month
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" />
                    Ashura - the 9th and 10th of Muharram
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" />
                    First ten days of Zhul-Hijjah
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" />
                    Six days of the month of Shawwal
                </label>
            </li>
        </ul>
    </div>
</body>
</html>
