<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div id="progress-supplications" data-role="view" data-layout="default"
        data-title="Supplications">
        <ul data-role="listview" data-style="inset">
            <li>
                <label>
                    <input type="checkbox" />
                    Faith
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" />
                    Submission
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" />
                    Praise
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" />
                    Patience
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" />
                    Forgiveness
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" />
                    Family
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" />
                    Provisions
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" />
                    Knowledge
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" />
                    Thanks
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" />
                    Protection
                </label>
            </li>
        </ul>
    </div>
</body>
</html>
