<div id="shared-info" data-role="view" data-layout="default"
    data-title="Info">
    <header data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-icon="reply" data-align="left"></a>
            <span data-role="view-title"></span>
        </div>
    </header>
    <ul data-role="listview" data-style="inset">
        <li><a href="http://www.falafel.com" data-rel="external" target="_blank">About us</a></li>
        <li><a href="mailto:basem@falafel.com?subject=Feedback for Quran Gateway" data-rel="external">Feedback</a></li>
    </ul>
</div>