<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div id="shared-info" data-role="view" data-layout="default"
        data-title="Info">
        <header data-role="header">
            <div data-role="navbar">
                <a data-role="backbutton" data-icon="reply" data-align="left"></a>
                <span data-role="view-title"></span>
            </div>
        </header>
        <ul data-role="listview" data-style="inset">
            <li><a href="http://pieceofmind.publicrealm.net" data-rel="external" target="_blank">About us</a></li>
            <li><a href="mailto:pieceofmind@publicrealm.net?subject=Feedback for Quran Gateway" data-rel="external">Feedback</a></li>
            <li><a href="https://github.com/basememara/quran-gateway" data-rel="external" target="_blank">Code repository</a></li>
        </ul>
    </div>
</body>
</html>
