<div id="drawer-menu" data-role="drawer" style="width: 80%; max-width: 300px;">
        <ul data-role="listview" data-type="group">
            <li>The Quran
                <ul>
                    <li data-icon="umbrella" class="fa"><a href="views/verses/list.html?type=supplication&title=Supplications" data-transition="none">Supplications</a></li>
                    <li data-icon="warning-sign" class="fa"><a href="views/verses/list.html?type=believers&title=%27O%20Believers" data-transition="none">'O Believers</a></li>
                    <li data-icon="comment" class="fa"><a href="views/verses/list.html?type=say&title=Believers%20%22Say%22" data-transition="none">Believers "Say"</a></li>
                    <li data-icon="legal" class="fa"><a href="views/verses/list.html?type=promise&title=Divine%20Promises" data-transition="none">Divine Promises</a></li>
                    <li data-icon="beaker" class="fa"><a href="views/verses/list.html?type=science&title=Scientific%20Miracles" data-transition="none">Scientific Miracles</a></li>
                    <li data-icon="book" class="fa"><a href="views/verses/list.html?type=book&title=People%20of%20the%20Book" data-transition="none">People of the Book</a></li>
                    <li data-icon="plus-sign-alt" class="fa"><a href="views/verses/list.html?type=sajdah&title=Prostrations" data-transition="none">Prostrations</a></li>
                    <li data-icon="bookmark" class="fa"><a href="views/verses/list.html?type=special&title=Special%20Verses" data-transition="none">Special Verses</a></li>
                </ul>
            </li>
            <li>The Messenger
                <ul>
                    <li><a href="views/hadiths/list.html" data-transition="none">Special Hadiths</a></li>
                    <li><a href="views/hadiths/supplications.html" data-transition="none">Supplications</a></li>
                    <li><a href="views/hadiths/sermon.html" data-transition="none">Last Sermon</a></li>
                </ul>
            </li>
            <li>The Ummah
                <ul>
                    <li><a href="views/ummah/pilgrimage.html" data-transition="none">Pilgrimage</a></li>
                    <li><a href="views/ummah/ramadan.html" data-transition="none">Ramadan</a></li>
                    <li><a href="views/ummah/calendar.html" data-transition="none">Calendar</a></li>
                </ul>
            </li>
        </ul>
    </div>