<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div id="shared-stream" data-role="view" data-layout="default"
        data-show="App.views.Shared.onStreamShow">
        <header data-role="header">
            <div data-role="navbar">
                <a data-role="backbutton" data-icon="reply" data-align="left"></a>
                <span data-role="view-title"></span>
            </div>
        </header>
        <iframe width="100%" height="100%" src="#" frameborder="0" allowfullscreen></iframe>
    </div>
</body>
</html>
