<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div id="ummah-struggles" data-role="view" data-layout="default"
        data-title="Struggles"
        data-show="App.views.Ummah.onShow">        
        <ul data-role="listview" data-style="inset" data-type="group">
            <li>Qur'an
                <ul>
                    <li data-icon="featured"><a href="views/verses/list.html?type=struggle&title=Struggles">Verses</a></li>
                </ul>
            </li>
            <li>Books
                <ul>
                    <li data-icon="icon-book"><a href="http://resources.publicrealm.net/docs/books/Book%20Of%20The%20End.pdf" data-rel="external" target="_blank">Book of the End: Great Trials &amp; Tribulations<br /><small>by Ibn Katheer</small></a></li>
                    <li data-icon="icon-book"><a href="http://resources.publicrealm.net/docs/books/The-Book-of-Jihad.pdf" data-rel="external" target="_blank">Mashari Al-Ashwaq ila Masari al-Ushaaq<br /><small>by Abi Zakaryya Al Dimashqi Al Dumyati</small></a></li>
                    <li data-icon="icon-book"><a href="http://resources.publicrealm.net/docs/books/constants-of-jihad.pdf" data-rel="external" target="_blank">Thawaabit 'ala darb al Jihad<br /><small>by Yusuf al 'Uyayree</small></a></li>
                    <li data-icon="icon-book"><a href="http://resources.publicrealm.net/docs/books/defence.pdf" data-rel="external" target="_blank">Defence of the Muslim Lands<br /><small>by Abdullah Azzam</small></a></li>
                    <li data-icon="icon-book"><a href="http://resources.publicrealm.net/docs/books/KhalidWaleed.pdf" data-rel="external" target="_blank">The Sword of Allah: Khalid bin Al-Waleed, His Life and Campaigns<br /><small>by A.I. Akram</small></a></li>
                    <li data-icon="icon-book"><a href="http://resources.publicrealm.net/docs/books/Return%20of%20The%20Pharaoh.pdf" data-rel="external" target="_blank">Return of the Pharaoh: Memoirs in Nasirs Prison<br /><small>by Zainab Al-Ghazali</small></a></li>
                </ul>
            </li>
            <li>Lectures
                <ul>
                    <li data-icon="sounds"><a href="#mashari-modal" data-rel="modalview">Mashari Al-Ashwaq ila Masari al-Ushaaq<br /><small>by Anwar al-Awlaki</small></a></li>
                    <li data-icon="sounds"><a href="#thawaabit-modal" data-rel="modalview">Thawaabit 'ala darb al Jihad<br /><small>by Anwar al-Awlaki</small></a></li>
                    <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/The_Dust_Will_Never_Settle_Down.mp3" data-rel="external" target="_blank">The Dust will Never Settle Down<br /><small>by Anwar al-Awlaki</small></a></li>
                    <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/State_Of_The_Ummah.mp3" data-rel="external" target="_blank">State of the Ummah<br /><small>by Anwar al-Awlaki</small></a></li>
                    <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/The_Battle_of_the_Hearts_and_Minds.mp3" data-rel="external" target="_blank">Battle of The Hearts and Minds<br /><small>by Anwar al-Awlaki</small></a></li>
                    <li data-icon="sounds"><a href="#victory-modal" data-rel="modalview">Allah Is Preparing Us For Victory<br /><small>by Anwar al-Awlaki</small></a></li>
                    <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/The_Story_of_The_Bull.mp3" data-rel="external" target="_blank">The Story Of The Bull<br /><small>by Anwar al-Awlaki</small></a></li>
                    <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/War_Against_Islam.mp3" data-rel="external" target="_blank">It's a War Against Islam<br /><small>by Anwar al-Awlaki</small></a></li>
                    <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/Beyond_Guantanamo.mp3" data-rel="external" target="_blank">Beyond Guantanamo: Is This The End?<br /><small>by Anwar al-Awlaki</small></a></li>
                    <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/Hijrah.mp3" data-rel="external" target="_blank">Hijrah<br /><small>by Anwar al-Awlaki</small></a></li>
                    <li data-icon="camera"><a href="views/shared/stream.html?title=Struggles&url=http%3A%2F%2Fwww.youtube.com%2Fembed%2FVtO9f4Rrnho">الإسلام والإرهاب<br /><small>by Muhammad Musa Shareef</small></a></li>
                </ul>
            </li>
            <li>Places
                <ul>
                    <li data-icon="globe">Palestine</li>
                    <li data-icon="globe">Syria</li>
                    <li data-icon="globe">Iraq</li>
                    <li data-icon="globe">Yemen</li>
                    <li data-icon="globe">Egypt</li>
                    <li data-icon="globe">Sudan</li>
                    <li data-icon="globe">Somalia</li>
                    <li data-icon="globe">Mali</li>
                    <li data-icon="globe">Kashmere</li>
                    <li data-icon="globe">Afghanistan</li>
                    <li data-icon="globe">Myanmar (Burma)</li>
                </ul>
            </li>
        </ul>
    </div>

    <div id="mashari-modal" data-role="modalview" style="width: 95%; height: 18em;"
        data-title="Lecture"
        data-open="App.views.Ummah.onModalOpen">
        <div data-role="header">
            <div data-role="navbar">
                <span data-role="view-title"></span>
                <a data-click="App.views.Ummah.onModalClose" data-role="button" data-icon="downloads" data-align="right"></a>
            </div>
        </div>
        By Imam Anwar al-Awlaki
        <ul data-role="listview" data-style="inset">
            <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/mashari/Track01.mp3" data-rel="external" target="_blank">Mashari Al-Ashwaq ila Masari al-Ushaaq: Part 1</a></li>
            <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/mashari/Track02.mp3" data-rel="external" target="_blank">Mashari Al-Ashwaq ila Masari al-Ushaaq: Part 2</a></li>
            <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/mashari/Track03.mp3" data-rel="external" target="_blank">Mashari Al-Ashwaq ila Masari al-Ushaaq: Part 3</a></li>
            <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/mashari/Track04.mp3" data-rel="external" target="_blank">Mashari Al-Ashwaq ila Masari al-Ushaaq: Part 4</a></li>
            <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/mashari/Track05.mp3" data-rel="external" target="_blank">Mashari Al-Ashwaq ila Masari al-Ushaaq: Part 5</a></li>
            <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/mashari/Track06.mp3" data-rel="external" target="_blank">Mashari Al-Ashwaq ila Masari al-Ushaaq: Part 6</a></li>
            <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/mashari/Track07.mp3" data-rel="external" target="_blank">Mashari Al-Ashwaq ila Masari al-Ushaaq: Part 7</a></li>
            <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/mashari/Track08.mp3" data-rel="external" target="_blank">Mashari Al-Ashwaq ila Masari al-Ushaaq: Part 8</a></li>
            <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/mashari/Track09.mp3" data-rel="external" target="_blank">Mashari Al-Ashwaq ila Masari al-Ushaaq: Part 9</a></li>
            <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/mashari/Track10.mp3" data-rel="external" target="_blank">Mashari Al-Ashwaq ila Masari al-Ushaaq: Part 10</a></li>
            <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/mashari/Track11.mp3" data-rel="external" target="_blank">Mashari Al-Ashwaq ila Masari al-Ushaaq: Part 11</a></li>
            <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/mashari/Track12.mp3" data-rel="external" target="_blank">Mashari Al-Ashwaq ila Masari al-Ushaaq: Part 12</a></li>
         </ul>  
    </div>

    <div id="thawaabit-modal" data-role="modalview" style="width: 95%; height: 18em;"
        data-title="Lecture"
        data-open="App.views.Ummah.onModalOpen">
        <div data-role="header">
            <div data-role="navbar">
                <span data-role="view-title"></span>
                <a data-click="App.views.Ummah.onModalClose" data-role="button" data-icon="downloads" data-align="right"></a>
            </div>
        </div>
        By Imam Anwar al-Awlaki
        <ul data-role="listview" data-style="inset">
            <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/constants/Track01.mp3" data-rel="external" target="_blank">Thawaabit 'ala darb al Jihad: Part 1</a></li>
            <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/constants/Track02.mp3" data-rel="external" target="_blank">Thawaabit 'ala darb al Jihad: Part 2</a></li>
            <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/constants/Track03.mp3" data-rel="external" target="_blank">Thawaabit 'ala darb al Jihad: Part 3</a></li>
            <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/constants/Track04.mp3" data-rel="external" target="_blank">Thawaabit 'ala darb al Jihad: Part 4</a></li>
            <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/constants/Track05.mp3" data-rel="external" target="_blank">Thawaabit 'ala darb al Jihad: Part 5</a></li>
            <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/constants/Track06.mp3" data-rel="external" target="_blank">Thawaabit 'ala darb al Jihad: Part 6</a></li>
         </ul>  
    </div>

    <div id="victory-modal" data-role="modalview" style="width: 95%; height: 18em;"
        data-title="Lecture"
        data-open="App.views.Ummah.onModalOpen">
        <div data-role="header">
            <div data-role="navbar">
                <span data-role="view-title"></span>
                <a data-click="App.views.Ummah.onModalClose" data-role="button" data-icon="downloads" data-align="right"></a>
            </div>
        </div>
        By Imam Anwar al-Awlaki
        <ul data-role="listview" data-style="inset">
            <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/VictoryPart01.mp3" data-rel="external" target="_blank">Allah Is Preparing Us For Victory: Part 1</a></li>
            <li data-icon="sounds"><a href="http://resources.publicrealm.net/audio/anwar_alawlaki/VictoryPart02.mp3" data-rel="external" target="_blank">Allah Is Preparing Us For Victory: Part 2</a></li>
         </ul>  
    </div>
</body>
</html>
