<!DOCTYPE html>
<html>
<head>
    <title>All Chapters</title>
</head>
<body>
    <div id="chapters-detail" data-role="view" data-layout="default"
        data-init="App.views.Chapter.onInit"
        data-show="App.views.Chapter.onShow">
        <ul class="chapter-sections" data-index="0" style="margin-top: 15px;">
            <li data-icon="compose" data-badge="6">Explanation</li>
            <li data-icon="favorites" data-badge="3">Virtues</li>
            <li data-icon="add">More</li>
        </ul>
        <ul data-role="listview" data-style="inset" class="listview-explanation">
            <li><a href="#">Tafsir al-Qur'an al-Azim<br />by Ibn Kathir</a></li>
            <li><a href="#">In the Shade of the Qur'an<br />by Sayyid Qutb</a></li>
            <li><a href="#">Tafhim al-Qur'an<br />by Sayyid Abul Ala Maududi</a></li>
            <li><a href="#">The Ascendant Qur'an<br />by Muhammad al-Asi</a></li>
            <li><a href="#">Tafseer Quran<br />by Muhammad Metwally al-Sharawy</a></li>
            <li><a href="#">Safwat al-Tafaseer<br />by Muhammad Ali al-Saboony</a></li>
        </ul>
        <ul data-role="listview" data-style="inset" class="listview-virtues" style="display:none">
            <li>Hadith 1</li>
            <li>Hadith 2</li>
            <li>Lecture</li>
            <li>Books 1</li>
            <li>Books 2</li>
            <li>Verses that affected companions</li>
        </ul>
        <ul data-role="listview" data-style="inset" class="listview-more" style="display:none">
            <li>Chapter: #</li>
            <li>Verses: #</li>
            <li>Chronology: #</li>
            <li>Juz: #</li>
            <li>Sadjas: #</li>
        </ul>
    </div>
</body>
</html>
