<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div id="chapters-detail" data-role="view" data-layout="default"
        data-init="App.views.Chapter.onInit"
        data-show="App.views.Chapter.onShow">
        <header data-role="header">
            <div data-role="navbar">
                <a href="#drawer-menu" data-role="button" data-rel="drawer" data-icon="icon-menu" data-align="left"></a>
                <span data-role="view-title"></span>
                <a data-click="App.views.Chapter.toogleFavorite" data-role="button" data-icon="add" data-align="right" class="favorite"></a>
            </div>
        </header>
        <ul class="sections" data-index="0"">
            <li data-icon="info">Info</li>
            <li data-icon="compose" data-badge="6">Meanings</li>
            <li data-icon="favorites" data-badge="3">Lectures</li>
        </ul>
        <ul data-role="listview" data-style="inset" class="content info">
            <li>Arabic: <span class="pull-right"></span></li>
            <li>Chapter: <span class="pull-right"></span></li>
            <li>Verses: <span class="pull-right"></span></li>
            <li>Chronology: <span class="pull-right"></span></li>
            <li>Juz: <span class="pull-right"></span></li>
            <li>Sajdah: <span class="pull-right"></span></li>
        </ul>
        <ul data-role="listview" data-style="inset" class="content" style="display: none;">
            <li><a href="#">Tafsir al-Qur'an al-Azim<br /><small>by Ibn Kathir</small></a></li>
            <li><a href="#">In the Shade of the Qur'an<br /><small>by Sayyid Qutb</small></a></li>
            <li><a href="views/chapters/explanation.html?source=Sayyid Abul Ala Maududi&chapter=1">Towards Understanding the Qur'an<br /><small>by Sayyid Abul Ala Maududi</small></a></li>
            <li><a href="#">The Ascendant Qur'an<br /><small>by Muhammad al-Asi</small></a></li>
            <li><a href="#">Tafseer Quran<br /><small>by Muhammad Metwally al-Sharawy</small></a></li>
            <li><a href="#">Safwat al-Tafaseer<br /><small>by Muhammad Ali al-Saboony</small></a></li>
            <li><a href="#">Fath al-Qadeer<br /><small>by Muhammad ash-Shawkani</small></a></li>
        </ul>
        <ul data-role="listview" data-style="inset" class="content" style="display: none;">
            <li>Hadith 1</li>
            <li>Hadith 2</li>
            <li>Lecture</li>
            <li>Books 1</li>
            <li>Books 2</li>
            <li>Verses that affected companions</li>
        </ul>
    </div>
</body>
</html>
