<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div id="chapters-exegesis" data-role="view" data-layout="default"
        data-init="App.views.Chapter.onInit"
        data-show="App.views.Chapter.onExegesisShow">
        <ul class="sections" data-index="0">
            <li>Intro</li>
            <li>Verses</li>
            <li>Back</li>
        </ul>
        <p class="content intro"></p>
        <p class="content verses" style="display:none"></p>
    </div>
</body>
</html>
