@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?54439721');
  src: url('../font/fontello.eot?54439721#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?54439721') format('woff'),
       url('../font/fontello.ttf?54439721') format('truetype'),
       url('../font/fontello.svg?54439721#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?54439721#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-cloud-sun-inv:before { content: '\e847'; } /* '' */
.icon-cloud-moon-inv:before { content: '\e848'; } /* '' */
.icon-rain-inv:before { content: '\e846'; } /* '' */
.icon-hourglass:before { content: '\e844'; } /* '' */
.icon-play:before { content: '\e83f'; } /* '' */
.icon-cloud:before { content: '\e84e'; } /* '' */
.icon-umbrella:before { content: '\e850'; } /* '' */
.icon-star:before { content: '\e807'; } /* '' */
.icon-star-empty:before { content: '\e80b'; } /* '' */
.icon-check:before { content: '\e825'; } /* '' */
.icon-heart-empty:before { content: '\e80a'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-flag:before { content: '\e82f'; } /* '' */
.icon-attention:before { content: '\e82c'; } /* '' */
.icon-flash:before { content: '\e84f'; } /* '' */
.icon-attention-circled:before { content: '\e82b'; } /* '' */
.icon-direction:before { content: '\e837'; } /* '' */
.icon-stopwatch:before { content: '\e839'; } /* '' */
.icon-help-circled:before { content: '\e835'; } /* '' */
.icon-info-circled:before { content: '\e834'; } /* '' */
.icon-retweet:before { content: '\e830'; } /* '' */
.icon-comment:before { content: '\e805'; } /* '' */
.icon-address:before { content: '\e838'; } /* '' */
.icon-map:before { content: '\e836'; } /* '' */
.icon-login:before { content: '\e80e'; } /* '' */
.icon-arrows-cw:before { content: '\e803'; } /* '' */
.icon-signal:before { content: '\e845'; } /* '' */
.icon-lifebuoy:before { content: '\e842'; } /* '' */
.icon-road:before { content: '\e80f'; } /* '' */
.icon-tint:before { content: '\e813'; } /* '' */
.icon-religious-christian:before { content: '\e84b'; } /* '' */
.icon-religious-islam:before { content: '\e84a'; } /* '' */
.icon-religious-jewish:before { content: '\e84c'; } /* '' */
.icon-theatre:before { content: '\e849'; } /* '' */
.icon-phone-squared:before { content: '\e82a'; } /* '' */
.icon-rss:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e800'; } /* '' */
.icon-pinterest-circled:before { content: '\e821'; } /* '' */
.icon-pinterest-squared:before { content: '\e820'; } /* '' */
.icon-gplus-squared:before { content: '\e818'; } /* '' */
.icon-chat-empty:before { content: '\e802'; } /* '' */
.icon-lightbulb:before { content: '\e80c'; } /* '' */
.icon-bell-alt:before { content: '\e808'; } /* '' */
.icon-plus-squared:before { content: '\e83a'; } /* '' */
.icon-flag-empty:before { content: '\e82e'; } /* '' */
.icon-puzzle:before { content: '\e816'; } /* '' */
.icon-mic:before { content: '\e82d'; } /* '' */
.icon-calendar-empty:before { content: '\e80d'; } /* '' */
.icon-rss-squared:before { content: '\e806'; } /* '' */
.icon-compass:before { content: '\e831'; } /* '' */
.icon-youtube-squared:before { content: '\e81a'; } /* '' */
.icon-youtube:before { content: '\e822'; } /* '' */
.icon-stackoverflow:before { content: '\e81e'; } /* '' */
.icon-tumblr-squared:before { content: '\e81d'; } /* '' */
.icon-apple:before { content: '\e824'; } /* '' */
.icon-windows:before { content: '\e81b'; } /* '' */
.icon-android:before { content: '\e823'; } /* '' */
.icon-skype:before { content: '\e81f'; } /* '' */
.icon-sun:before { content: '\e84d'; } /* '' */
.icon-moon:before { content: '\e828'; } /* '' */
.icon-twitter-squared:before { content: '\e81c'; } /* '' */
.icon-facebook-squared:before { content: '\e817'; } /* '' */
.icon-linkedin-squared:before { content: '\e819'; } /* '' */
.icon-globe:before { content: '\e827'; } /* '' */
.icon-leaf:before { content: '\e829'; } /* '' */
.icon-gift:before { content: '\e840'; } /* '' */
.icon-headphones:before { content: '\e83e'; } /* '' */
.icon-user:before { content: '\e83c'; } /* '' */
.icon-folder-open:before { content: '\e83b'; } /* '' */
.icon-chart-bar:before { content: '\e811'; } /* '' */
.icon-book:before { content: '\e810'; } /* '' */
.icon-megaphone:before { content: '\e826'; } /* '' */
.icon-search:before { content: '\e83d'; } /* '' */
.icon-key:before { content: '\e814'; } /* '' */
.icon-bell-1:before { content: '\e843'; } /* '' */
.icon-bell:before { content: '\e809'; } /* '' */
.icon-bookmark:before { content: '\e833'; } /* '' */
.icon-link:before { content: '\e832'; } /* '' */
.icon-fire:before { content: '\e812'; } /* '' */
.icon-flashlight:before { content: '\e841'; } /* '' */
.icon-hammer:before { content: '\e815'; } /* '' */