<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div id="verses-detail" data-role="view" data-layout="default"
        data-show="App.views.Verse.onShow">
        <header data-role="header">
            <div data-role="navbar">
                <a data-role="backbutton" data-icon="reply" data-align="left"></a>
                <span data-role="view-title"></span>
                <a data-click="App.views.Verse.toggleFavorite" data-role="button" data-icon="add" data-align="right" class="favorite"></a>
            </div>
        </header>
        <p class="range"><small></small></p>
        <ul data-role="buttongroup" data-index="1" data-select="App.views.Verse.onSelect">
            <li data-icon="play"></li>
            <li data-icon="pause"></li>
            <!--
            <li data-icon="rewind"></li>
            <li data-icon="fastforward"></li>
            -->
        </ul>
        <p class="arabic panel-container success"></p>
        <p class="translation panel-container info"></p>
        <p><a href="#" data-role="button" data-icon="featured" data-rel="external" class="large quran" target="_blank">Qur'an</a></p>
        <!-- PLACEHOLDERS FOR AUDIO ELEMENTS -->
        <div id="jq_jplayer"></div>
        <div id="jq_jplayer_container" style="display: none;">
          <div class="jp-playlist">
            <ul><li></li></ul>
          </div>
        </div>
    </div>
</body>
</html>
