#sub-drawer .km-content
{
    background-color: #4e4e4e;
    color: #fff;
}

#sub-drawer .km-navbar,
.km-tablet .km-ios #sub-drawer .km-view-title
{
    background-color: #2e2e2e;
    color: #fff;
    text-shadow: 0 -1px rgba(0,0,0,.5);
}

.km-modalview .km-content {
    padding: 15px;
}

.km-header .km-navbar .km-buttongroup {
    margin: 3px 0 5px 0;
}

.km-listview a {
    text-decoration: none;
}

.km-button.large
{
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}