.container-img {
    padding: 3px;
    width: 100%;
    text-align: center;
}

.container-img img {
    width: 100%;
    max-width: 500px;
    margin-top: 5px;
}

.hijri-date {
    width: 100%;
    text-align: center;
}

blockquote {
    font-style: italic;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.sections.km-buttongroup {
    margin-top: 15px;
}

#home .progress-wrapper .k-chart {
    margin: auto;
    display: inline-block;
}

#toast-container>div {
    width: 200px;
}

#popover-sort {
    height: 170px !important;
}

.panel-container {
    border: 1px solid transparent;
    margin: 15px 5px;
    padding: 15px 30px 15px 15px;
    border-left-width: 5px;
}

.panel-container.info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}

.panel-container.error {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}

.panel-container.success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.panel-container.warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}

#verses-list .km-listview small,
#favorites-list .km-listview small {
    margin: 5px 0 5px;
    display: block;
}

#chapters-detail .km-listview.info span {
    font-weight: bold;
    float: right;
}